<main class="container">
  <div class="row contact">
    <div class="col-xs-6">
      <h3><i class="fa fa-comments-o"></i>&nbsp; Social</h3>
      <div class="link-icone">
        <a target="_blank" href="">
          <i class="fa fa-at"></i>&nbsp;
          <span> fab-oger@live.fr</span>
        </a>
      </div>
      <div class="link-icone">
        <a target="_blank" href="https://github.com/">
          <i class="fa fa-github"></i>
          <span>&nbsp; GitHub</span>
        </a>
      </div>
      <div class=" link-icone">
        <a target="_blank" href="https://twitter.com/">
          <i class="fa fa-twitter"></i>
          <span>&nbsp; Twitter</span>
        </a>
      </div>
      <div class=" link-icone">
        <a target="_blank" href="https://www.linkedin.com/profile/view?id=AAMAABNCp4QB4jxI0GsinGdKAmrsJqjzYWTsmmo&trk=hp-identity-name">
          <i class="fa fa-linkedin"></i>
          <span>&nbsp; LinkedIn</span>
        </a>
      </div>
    </div>
    <form class="col-xs-6">
      <h3><i class="fa fa-envelope-o"></i>&nbsp; Contactez moi</h3>
      <div class="form-group form-group-material-indigo-700">
        <div class="form-control-wrapper">
          <input class="form-control empty" id="focusedInput" type="text">
          <div class="floating-label">Nom</div>
          <span class="material-input"></span>
        </div>
      </div>
      <div class="form-group form-group-material-indigo-700">
        <div class="form-control-wrapper">
          <input class="form-control empty" id="focusedInput" type="text">
          <div class="floating-label">Adresse e-mail</div>
          <span class="material-input"></span>
        </div>
      </div>
      <div class="form-group form-group-material-indigo-700">
        <div class="form-control-wrapper">
          <textarea class="form-control empty" rows="5"></textarea>
          <div class="floating-label">Votre message</div>
          <span class="material-input"></span>
        </div>
      </div>
      <a href="" type="submit" class="btn btn-flat btn-info">
        <i class="fa fa-envelope"></i>&nbsp; Envoyer un mail
      </a>
    </form>
  </div>
</main>
