<main class="container home">
  <div class="align-center pretty jumbotron">
    <div class="container">
      <div class="row">
        <h1 class="uppercase">Présentation</h1>
        <p>Je suis un jeune développeur web junior passionné agé de <%= age %> ans. En formation à simplon.co.</p>
        <!--<img src="/assets/my_photo.jpg" class="img-circle" />-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 formations bg-color">
      <h2 class="align-center uppercase">Formations</h2>
      <div class="row align-center">
        <div class="col-md-6 slide-formation">
          <img src="/assets/web.png" />
          <h5 class="align-center"><i class="fa fa-graduation-cap"></i>&nbsp; Développeur web et mobile</h5>
          <p><i class="fa fa-calendar"></i>&nbsp; Avril 2015 - Octobre 2015</p>
          <p><i class="fa fa-map-marker"></i>&nbsp; <a href="http://www.simplon.co">Simplon.co</a> - Montreuil</p>
        </div>
        <div class="col-md-6 slide-formation">
          <img src="/assets/electronic.png" />
          <h5 class="align-center"><i class="fa fa-graduation-cap"></i>&nbsp; Bac Système Electronique et Numérique</h5>
          <p><i class="fa fa-calendar"></i>&nbsp; 2011 - 2014 - Mention assez bien</p>
          <p><i class="fa fa-map-marker"></i>&nbsp; Lycée Louis Armand - Nogent-Sur-Marne</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 competences bg-color">
      <h2 class="align-center uppercase">Compétences informatiques</h2>
      <div class="row">
        <div class="col-sm-4 dev-back">
          <i class="align-center fa fa-gears"></i>
          <h4>Développement Back-End</h4>
          <p>Frameworks : (Ruby On Rails, MeteorJS).</p>
          <p>Languages : (Ruby, PHP).</p>
        </div>
        <div class="col-sm-4 dev-front">
          <i class="align-center fa fa-html5"></i>
          <h4>Développement Front-End</h4>
          <p>Intégration (HTML5 / CSS3).</p>
          <p>JavaScript, jQuery.</p>
          <p>Bootstrap 3.</p>
        </div>
        <div class="col-sm-4 dev-tools">
          <i class="align-center fa fa-wrench"></i>
          <h4>Outils</h4>
          <p>Vim, Git, GitHub, Slack, GIMP.</p>
          <p>Linux, Windows 7, 8.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 exp-pro bg-color">
      <h2 class="align-center uppercase">Expérience professionnelle</h2>
      <div class="row align-left">
        <div class="col-md-4 col-sm-10 col-sm-offset-1 slide-exp-pro">
          <h3>Technicien Micro-Réseau</h3>
          <p class="societe"><img src="/assets/employee7.png" width="30" height="30">Foster Wheeler France</p>
          <p class="lieu"><i class="fa fa-map-marker"></i>&nbsp; Paris Bercy</p>
          <ul class="align-left">
            <li><i class="fa fa-gg-circle"></i>&nbsp; Remplacer les éléments interne d'un ordinateur</li>
            <li><i class="fa fa-gg-circle"></i>&nbsp; Réinstallation du système d'exploitation</li>
            <li><i class="fa fa-gg-circle"></i>&nbsp; Ghoster des machines</li>
          </ul>
          <h6 class="align-right"><i class="fa fa-calendar"></i>&nbsp; Mai 2012 - Juin 2012</h6>
        </div>
        <div class="col-md-4 col-sm-10 col-sm-offset-1 slide-exp-pro">
          <h3>Technicien Service Après-Vente</h3>
          <p class="societe"><img src="/assets/employee7.png" width="30" height="30">Axido Services</p>
          <p class="lieu"><i class="fa fa-map-marker"></i>&nbsp; Levallois-Perret</p>
          <ul class="align-left">
            <li><i class="fa fa-gg-circle"></i>&nbsp; Remplacer les éléments interne d'un ordinateur</li>
            <li><i class="fa fa-gg-circle"></i>&nbsp; Réinstallation du système d'exploitation</li>
            <li><i class="fa fa-gg-circle"></i>&nbsp; Modifier les paramètres du BIOS</li>
          </ul>
          <h6 class="align-right"><i class="fa fa-calendar"></i>&nbsp; Février 2013 - Avril 2013</h6>
        </div>
        <div class="col-md-4 col-sm-10 col-sm-offset-1 slide-exp-pro">
          <h3>Service qualité</h3>
          <p class="societe"><img src="/assets/employee7.png" width="30" height="30">Axido Services</p>
          <p class="lieu"><i class="fa fa-map-marker"></i>&nbsp; Levallois-Perret</p>
          <ul class="align-left">
            <li><i class="fa fa-gg-circle"></i>&nbsp; Installation d'une baie serveur</li>
            <li><i class="fa fa-gg-circle"></i>&nbsp; Mise en place d'un script PowerShell</li>
            <li><i class="fa fa-gg-circle"></i>&nbsp; Remplacer les éléments interne d'un ordinateur</li>
          </ul>
          <h6 class="align-right"><i class="fa fa-calendar"></i>&nbsp; Novembre 2013 - Janvier 2014</h6>
        </div>
      </div>
    </div>
  </div>
</main>
