<main class="container">
  <div class="align-center pretty jumbotron shadow-z-2">
    <div class="container">
      <div class="row">
        <h1>Présentation</h1>
        <p>Court texte de présentation Développeur Web <%= age %> ans</p>
        <img src="/assets/my_photo.jpg" class="img-circle" />
      </div>
    </div>
  </div>
  <div class="row bg-color">
    <div class="col-md-12 formations shadow-z-2">
      <h3 class="align-center title-formation">Formations</h3>
      <div class="row align-center">
        <div class="col-md-6 slide-formation">
          <img src="/assets/electronic.png" />
          <h5>Bac Système Electronique et Numérique - Mention assez bien</h5>
          <p>2011 - 2014</p>
          <p>Lycée Louis Armand - Nogent-Sur-Marne</p>
        </div>
        <div class="col-md-6 slide-formation">
          <img src="/assets/web.png" />
          <h5>Développeur web et mobile</h5>
          <p>Avril 2015 - Octobre 2015</p>
          <p><a href="http://www.simplon.co">Simplon.co</a> - Montreuil</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 competences">
      <h3 class="align-center">Compétences informatiques</h3>
      <div class="row">
        <div class="col-sm-4 dev-back">
          <i class="align-center fa fa-gears"></i>
          <h4>Développement Back-End</h4>
          <p>Frameworks : (Ruby On Rails, MeteorJS).</p>
          <p>Languages : (Ruby, PHP).</p>
        </div>
        <div class="col-sm-4 dev-front">
          <i class="align-center fa fa-html5"></i>
          <h4>Développement Front-End</h4>
          <p>Intégration (HTML5 / CSS3).</p>
          <p>JavaScript, jQuery.</p>
          <p>Bootstrap 3.</p>
        </div>
        <div class="col-sm-4 dev-tools">
          <i class="align-center fa fa-wrench"></i>
          <h4>Outils</h4>
          <p>Vim, Git, GitHub, Slack, GIMP.</p>
          <p>Linux, Windows 7, 8.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 exp-pro">
      <h3 class="align-center">Expériences professionnelles</h3>
      <div class="row align-center">
        <div class="col-md-4 slide-exp-pro">
          <h4>Technicien Micro-Réseau - Foster Wheeler France - Paris Bercy</h4>
          <ul class="align-left">
            <li>Remplacer les éléments interne d'un ordinateur</li>
            <li>Réinstallation du système d'exploitation</li>
            <li>Ghoster des machines</li>
          </ul>
          <h6 class="align-right">Mai 2012 - Juin 2012</h6>
        </div>
        <div class="col-md-4 slide-exp-pro">
          <h4>Technicien Service Après-Vente- Axido Services - Levallois-Perret</h4>
          <ul class="align-left">
            <li>Remplacer les éléments interne d'un ordinateur</li>
            <li>Réinstallation du système d'exploitation</li>
            <li>Modifier les paramètres du BIOS</li>
          </ul>
          <h6 class="align-right">Février 2013 - Avril 2013</h6>
        </div>
        <div class="col-md-4 slide-exp-pro">
          <h4>Service qualité - Axido Services - Levallois-Perret</h4>
          <ul class="align-left">
            <li>Installation d'une baie serveur</li>
            <li>Mise en place d'un script PowerShell</li>
            <li>Déploiement</li>
            <li>Remplacer les éléments interne d'un ordinateur</li>
          </ul>
          <h6 class="align-right">Novembre 2013 - Janvier 2014</h6>
        </div>
      </div>
    </div>
  </div>
</main>
