<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/my_photo.jpg" class="img-circle" />
      </div>
      <div class="col-md-4">
        <p>Développeur Web</p>
        <p>19 ans</p>
      </div>
      <div class="col-md-4">
        <div class="row align-center">
          <div class="col-md-6">
            <a class="link" href="">Formations</a>
          </div>
          <div class="col-md-6">
            <a class="link" href="">Expériences professionnelles</a>
          </div>
        </div>
        <div class="row align-center">
          <div class="col-md-4 col-xs-4 link-icone">
            <a target="_blank" href="https://github.com/">GitHub
              <img src="/assets/Github-Flat.ico" width="50px" height="50px" />
            </a>
          </div>
          <div class="col-md-4 col-xs-4 link-icone">
            <a target="_blank" href="https://twitter.com/">Twitter
              <img src="/assets/Twitter.ico" width="50px" height="50px" />
            </a>
          </div>
          <div class="col-md-4 col-xs-4 link-icone">
            <a target="_blank" href="https://www.linkedin.com/profile/view?id=AAMAABNCp4QB4jxI0GsinGdKAmrsJqjzYWTsmmo&trk=hp-identity-name">LinkedIn
              <img src="/assets/Linkedin.ico" width="50px" height="50px" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row bg-color">
  <div class="col-md-12 competences">
    <h3 class="align-center">Compétences informatiques</h3>
    <div class="row">
      <div class="col-xs-6 dev-back">
        <i class="align-center fa fa-gears"></i>
        <h2>Développement Back</h2>
      </div>
      <div class="col-xs-6 dev-front">
        <i class="align-center fa fa-html5"></i>
        <h2 class="align-right">Développement Front</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 slide-competences">
        <h3>Languages de programmations</h3>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
        <p>Ruby</p>
        <p>PHP</p>
        <p>C</p>
      </div>
      <div class="col-md-3 slide-competences">
        <h3>Frameworks</h3>
        <p>Ruby On Rails</p>
        <p>MeteorJS</p>
        <p>Bootstrap</p>
      </div>
      <div class="col-md-3 slide-competences">
        <h3>Logiciels</h3>
        <p>Vim</p>
        <p>Git</p>
        <p>Github</p>
        <p>Slack</p>
        <p>GIMP</p>
      </div>
      <div class="col-md-3 slide-competences">
        <h3>Systèmes d'exploitation</h3>
        <p>Windows 7</p>
        <p>Windows 8</p>
        <p>Linux</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 formations">
    <h3 class="align-center title-formation">Formations</h3>
    <div class="row align-center">
      <div class="col-md-6 slide-formation">
        <h3>Bac Système Electronique et Numérique (option Electronique Industriel Embarqué)</h3>
        <h4>2011 - 2014</h4>
        <h5>Mention assez bien</h5>
        <h6>Lycée Louis Armand - Nogent-Sur-Marne</h6>
      </div>
      <div class="col-md-6 slide-formation">
        <h3>Développeur web et mobile</h3>
        <h4>Avril 2015 - Octobre 2015</h4>
        <a href="http://www.simplon.co">Simplon.co</a>
        <h6>Montreuil</h6>
      </div>
    </div>
  </div>
  <div class="col-md-12 exp-pro">
    <h3 class="align-center">Expériences professionnelles</h3>
    <div class="row">
      <div class="col-md-12 align-center">
        <h4>Manutentionnaire Jonak Galeries Lafayette</h4>
        <h6>2013 - 2015</h6>
      </div>
      <div class="col-md-4 slide-exp-pro">
        <h4>Service qualité - Axido Services - Levallois-Perret</h4>
        <h6>Novembre 2013 - Janvier 2014</h6>
        <ul>
          <li>- Installation d'une baie serveur</li>
          <li>- Mise en place d'un script PowerShell</li>
          <li>- Déploiement</li>
          <li>- Remplacer les éléments interne d'un ordinateur</li>
        </ul>
      </div>
      <div class="col-md-4 slide-exp-pro">
        <h4>Technicien Micro-Réseau - Foster Wheeler France - Paris Bercy</h4>
        <h6>Mai 2012 - Juin 2012</h6>
        <ul>
          <li>- Remplaccer les éléments interne d'un ordinateur</li>
          <li>- Réinstallation du système d'exploitation</li>
          <li>- Ghoster des machines</li>
        </ul>
      </div>
      <div class="col-md-4 slide-exp-pro">
        <h4>Technicien Service Après-Vente- Axido Services - Levallois-Perret</h4>
        <h6>Février 2013 - Avril 2013</h6>
        <ul>
          <li>- Remplacer les éléments interne d'un ordinateur</li>
          <li>- Réinstallation du système d'exploitation</li>
          <li>- Modifier les paramètres du BIOS</li>
        </ul>
      </div>
    </div>
  </div>
</div>
