<main class="container">
  <div class="row portfolio">
    <h1>Portfolio</h1>
    <div class="col-md-6">
      <h2>The first box!</h2>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="/assets/capture_fabienoger.com.png">
        <div class="caption">
          <h2>fabienoger.com</h2>
          <a href="fabienoger.com" class="btn btn-flat btn-info">Accédé au site</a>
        </div>
      </div>
    </div>
  </div>
</main>
