<main class="container portfolio">
  <h1 class="align-center">Portfolio</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="/assets/capture_fabienoger.com.png">
        <div class="caption">
          <h2>fabienoger.com</h2>
          <a href="fabienoger.com" class="btn btn-flat btn-info">Accédé au site</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</main>
