.contact {
  padding-bottom: 70px;
  padding-top: 50px;
  h2 {
    margin-top: 0px;
    color: #345;
    i {
      color: #D0DADC;
    }
  }

  .link-icone {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
    a {
      color: $primary-color;
      text-decoration: none;
      i {
        font-size: 1.5em;
        background-color: $primary-color;
        color: #FFF;
        border-radius: 50%;
        line-height: 40px;
        width: 40px;
        text-align: center;
      }
    }
  }

  form {
    text-align: center;
    .form-group {
      text-align: left;
      margin-top: 30px;
      margin-bottom: 30px;
      .control-label {
        color: $primary-color;
      }
      .form-control {
        background-image: linear-gradient($primary-color, $primary-color), linear-gradient(#d2d2d2, #d2d2d2);
      }
    }

    .alert {
      margin-top: 20px;
    }

    .btn.btn-fab.btn-raised {
      background-color: $primary-color;
      color: #FFF;
      transition: 0.5s;
    }

    .btn.btn-fab.btn-raised:hover {
      background-color: $secondary-color;
      color: #FFF;
    }

    .form-control-wrapper .floating-label.label-textarea, .form-control-wrapper .floating-label {
      color: $primary-color;
    }
  }
}
