main.container.depenses, main.container.new-depense, main.container.show-depense, main.container.edit-depense {
  background-color: #FFF;
  margin-top: 70px;
  margin-bottom: 20px;
}

main.container.new-depense, main.container.edit-depense {
  form {
    .control-label {
      color: $primary-color;
    }
    .form-control {
      background-image: linear-gradient($primary-color, $primary-color), linear-gradient($bg-color, $bg-color);
    }
  }
}

main.container.depenses {
  div.depense {
    div {
      line-height: 50px;
    }
    a {
      display: inline-block;
    }
    a.destroy {
      color: #d32f2f;
    }
  }
}
