.jumbotron {
  border-radius: 0px !important;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  .photo {
    img {
      border-radius: 50%;
    }
  }
}

.competences, .exp-pro {
  //border-bottom: $primary-color;
}

.exp-pro {
  .slide-exp-pro {
    border: 2px solid $primary-color;
    height: 200px;
    font-size: 1.2em;
    ul {
      list-style-type: none;
    }
  }
}

.competences {
  .slide-competences {
    height: 262px;
    border: 2px solid $primary-color;
  }
}

.formations {
  .title-formation {
  }
   .slide-formation {
      border-top: 2px solid $primary-color;
    }
}
