.pretty.jumbotron {
  border-radius: 0px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  //box-shadow: 0 8px 17px 0 rgba(48, 63, 159, 0.2);
  box-shadow: 0px;
  border-bottom: 2px solid $primary-color;
  .link {
    font-size: 1.2em;
  }
  .link-icone {
    margin: 15px 0;
    a {
      font-size: 1.5em;
      color: #303f9f;
      text-decoration: none;
      span {
        transition: 0.5s;
      }
      i {
        font-size: 1.5em;
      }
    }
    a:hover {
      span {
        margin-right: 30px;
      }
    }
  }
}

.dev-back, .dev-front, .dev-tools {
  height: 225px;
  transition: 0.5s;
  text-align: center;
  h4 {
    margin-top: .8em;
    text-transform: uppercase;
    font-weight: 800;
  }
  i {
    font-size: 4em;
    text-align: center;
    border-radius: 50%;
//    background-color: orange;
    color: #FFF;
    width: 86px;
    line-height: 86px;
  }
}

.dev-back:hover, .dev-front:hover, .dev-tools:hover {
  border-bottom: 5px solid #303f9f;
}

.dev-tools {
  i {
    background-color: #5BCF80;
  }
}

.dev-back {
  i {
    background-color: #E25E5B;
  }
}

.dev-front {
  i {
    background-color: #74BADE;
  }
}

.bg-color, body {
  background-color: #FFF;
}

.competences {
  background-color: #c5cae9;
}

.exp-pro {
  border-top: 2px solid $primary-color;
  .slide-exp-pro {
    height: 200px;
    font-size: 1.2em;
    ul {
      list-style-type: none;
    }
  }
}

.competences {
  h3 {
    margin-bottom: 20px;
  }
  .slide-competences {
    height: 262px;
    border: 2px solid $primary-color;
  }
}

.formations {
  .title-formation {
  }
   .slide-formation {
      border-top: 2px solid $primary-color;
    }
}
