.home {
  .pretty.jumbotron, .formations, .competences, .exp-pro {
    box-shadow: 0 0 5px 0 $primary-color;
  }

  color: $bg-color;
  .pretty.jumbotron {
    h1 {
      margin-bottom: 30px;
      font-size: 3em;
    }
    p {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    border-radius: 0px;
    margin: 50px -15px 0px -15px;
    padding-bottom: 40px;
  }

  .dev-back, .dev-front, .dev-tools {
    height: 225px;
    transition: 0.5s;
    text-align: center;
    h4 {
      margin-top: .8em;
      text-transform: uppercase;
      font-weight: 800;
      color: $bg-color;
    }
    i {
      font-size: 4em;
      text-align: center;
      border-radius: 50%;
      color: #FFF;
      width: 86px;
      line-height: 86px;
      transition: all 0.8s;
    }
  }

  .dev-back:hover, .dev-front:hover, .dev-tools:hover {
  }

  .dev-tools {
    i {
      background-color: #5BCF80;
    }
  }

  .dev-back {
    i {
      background-color: #E25E5B;
    }
  }

  .dev-front {
    i {
      background-color: #74BADE;
    }
  }

  .bg-color, body {
    background-color: #FFF;
  }

  .exp-pro {
    padding-top: 30px;
    background-color: #CCC;
    padding-bottom: 150px;
    h2 {
      margin-bottom: 40px;
    }
    .slide-exp-pro {
      font-size: 1.2em;

      p.societe {
        img {
          margin-right: 5px;
        }
      }

      p {
        i {
          background-color: $primary-color;
          color: #FFF;
          line-height: 30px;
          width: 30px;
          border-radius: 50%;
          text-align: center;
        }
      }

      h3 {
        color: $bg-color;
        margin-bottom: 20px;
        text-align: center;
      }

      h6 {
        margin: 30px 0;
      }

      ul {
        padding-left: 0;
        list-style-type: none;
        li {
          list-style-type: none;
          margin: 15px 0;
        }
      }
    }
  }

  .competences {
    padding-top: 30px;
    padding-bottom: 20px;
    h2 {
      margin-bottom: 40px;
    }
  }

  .formations {
    h2 {
      margin-bottom: 30px;
    }
    background-color: #CCC;
    padding-bottom: 50px;
    padding-top: 20px;
   .slide-formation {
      padding-right: 45px;
      padding-left: 45px;
      h5 {
        font-size: 1.2em;
        color: $bg-color;
        i {
          border-radius: 50%;
          color: $bg-color;
          width: 40px;
          line-height: 40px;
          text-align: center;
        }
      }
      p {
        font-size: 1.1em;
        text-align: center;
        i {
          text-align: center;
          border-radius: 50%;
          background-color: $primary-color;
          color: #FFF;
          font-size: 1.2em;
          width: 40px;
          line-height: 40px;
        }
      }
    }
  }
}
