.navbar {
  .container-menu {
    height: 50px;
    width: 430px;
    margin: 0 auto;
  }
  border-radius: 0px;
  width: 100%;
  border: 0px;
//  box-shadow: 0 0 3px 0 $primary-color;
  margin-bottom: 0px;
  .logo {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: red;
  }
  .navbar-collapse {
    padding: 0px;
  }
  .menu {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    width: 245px;
    margin: 0 auto;
    height: 50px;
    li, a {
      text-decoration: none;
      height: 50px;
      color: #FFF;
      padding: 0 10px;
    }
    li {
      padding: 0px;
      transition: 0.5s;
      background-color: transparent;
      a {
        line-height: 15px;
      }
    }
  }
  .social {
    height: 50px;
    display: inline-block;
    .link-icone {
      margin: 0 15px;
      display: inline-block;
      line-height: 50px;
      a {
        font-size: 1.3em;
        color: #FFF;
        text-decoration: none;
        i {
          line-height: 55px;
          font-size: 1.3em;
        }
      }
      a:hover {
      }
    }
  }
}

main {
  padding-bottom: 50px;
}

footer {
  background-color: #666;
  padding: 10px;
  border-top: 2px solid #333;
  p {
    margin-bottom: 0px;
    color: #cccccc;
    text-align: center;
    font-size: 1.1em;
  }
}

.btn.btn-flat.btn-info {
  color: $primary-color;
}

.btn.btn-flat.btn-info:hover {
  background-color: #e8eaf6;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}
