body {
  background-image: url("footer_lodyas.png");
}

body main.container {
  min-height: 850px;
}

header.navbar {
  position: fixed;
  border-radius: 0px;
  width: 100%;
  border: 0px;
  top: 0px;
//  box-shadow: 0 0 3px 0 $primary-color;
  margin-bottom: 0px;
  z-index: 6;
  background-color: #FFF !important;
  box-shadow: 0 0 3px 0 $primary-color !important;
  .logo {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: red;
  }
  .menu {
    list-style-type: none;
    display: block;
    font-size: 1.2em;
    margin: 0 auto;
    color: $primary-color;
    height: 50px;

    div.menu-circle {
      display: inline-block;
      background-color: $primary-color;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 20px 5px;
    }
    i.fa {
      font-size: 10px;
      line-height: 50px;
    }
    li, a {
      display: inline-block;
      text-decoration: none;
      color: $primary-color;
      padding: 0 10px;
    }
    li {
      padding: 0px;
      transition: 0.5s;
      margin-right: 5px;
      margin-left: 5px;
      background-color: transparent;
      a {
        transition: 0.5s;
        line-height: 50px;
      }
      a:hover {
        background-color: #FFF;
        color: $secondary-color;
      }
    }
  }
  #show-admin-menu {
    position: absolute;
    text-align: center;
    font-size: 1.3em;
    top: 0px;
    right: 0px;
    background-color: $primary-color;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    line-height: 50px;
    transition: all 0.5s;
  }

  #show-admin-menu:hover {
    background-color: #FFF;
    color: $primary-color;
  }

  #admin-menu {
    transition: all 0.5s;
    position: absolute;
    right: -250px;
    top: 50px;
    list-style-type: none;
    background-color: #EEEEEE;
    padding-left: 0px;

    li {
      display: block;
      a {
        display: block;
        text-decoration: none;
        background-color: #EEEEEE;
        color: $primary-color;
        font-size: 1.3em;
        padding: 15px 10px;
        transition: 0.5s;
        text-align: right;
      }
      a:hover {
        background-color: $bg-color;
      }
    }
  }
  .social {
    position: absolute;
    right: 15px;
//    top: 50px;
    top: 0px;
    display: inline-block;
    .link-icone {
      margin: 12.5px 5px;
      display: inline-block;
      a {
        font-size: 1.3em;
        transition: 0.5s;
        border: none;
        color: #FFF;
        background-color: $primary-color;
        text-decoration: none;
        display: inline-block;
        border-radius: 50%;
        width: 25px;
        line-height: 25px;
        text-align: center;
        i {
          font-size: 1em;
          line-height: 25px;
          text-align: center;
        }
      }
      a:hover {
        //color: $bg-color;
        background-color: $secondary-color;
      }
    }
  }
}

footer {
  background-color: $bg-color;
  padding: 10px;
  p {
    margin-bottom: 0px;
    color: $primary-color;
    text-align: center;
    font-size: 1.1em;
  }
}

.btn.btn-flat.btn-info {
  color: $primary-color;
}

.btn.btn-flat.btn-info:hover {
  background-color: #e8eaf6;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

@media all and (max-width: 650px)
{
  body main.container {
    min-height: 500px;
  }
  main.container.home {
    margin-top: 50px;
  }
  main.container.portfolio {
    margin-top: 120px;
  }
  main.container.contact {
    margin-top: 120px;
    padding-bottom: 20px;
  }
  header.navbar {
    div.social {
      position: relative;
      text-align: center;
      right: 0;
      top: 0;
      display: block;
    }
  }
}
