div.container.paye {
  background-color: #FFF;
  margin-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  min-height: 500px;

  form {
    padding-top: 50px;
    button.btn.btn-fab {
      background-color: $primary-color;
      transition: all 0.5s;
      text-align: center;
      color: #FFF;
    }
    button.btn.btn-fab:hover {
      background-color: $secondary-color;
    }
  }
}

main.container.show-project {
  background-color: #FFF;
  margin-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  min-height: 500px;

  div.row {

    div.container-picture {
      img {
        display: block;
        margin: 0 auto;
      }
    }

    div.container-info {
      p {
        span.definition {
          font-weight: bold;
        }
      }
    }

    div.container-list {
      min-height: 42px;
      margin: 20px 0;

      ul {
        display: inline-block;
        list-style-type: none;

        li {
          transition: all 0.5s;
          border-bottom: 2px solid $primary-color;
          background-color: #e4e4e4; // #dfdfdf
          padding: 0 12px;
          display: inline-block;
          border-radius: 16px;
          height: 32px;
          margin: 5px;

          span {
            font-size: 13px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
            line-height: 32px;
          }
        }
      }
    }

  }
}
