main.portfolio {
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #fff;

  h1 {
    color: $bg-color;
  }
  div.thumbnail {
    transition: all 0.5s;
    transition-property: background-color;
    border-radius: 0px;
    background-color: #CCCCCC;

    div.caption {
      ul {
        padding-left: 0px;
        list-style-type: none;
        li {
          transition: all 0.5s;
          background-color: #e4e4e4; // #dfdfdf
          padding: 0 12px;
          display: inline-block;
          border-radius: 16px;
          height: 32px;
          margin: 5px;

          span {
            font-size: 13px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
            line-height: 32px;
          }
        }
      }
    }
  }
  div.thumbnail:hover {
    background-color: #dfdfdf;
    border-bottom: 4px solid $primary-color;
    ul {
      li {
        background-color: #FFF !important;
      }
    }
  }
}
