main.portfolio {
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #fff;

  h1 {
    color: $bg-color;
    margin: 30px auto;

    i {
      background-color: $primary-color;
      color: #FFF;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
  div.thumbnail {
    transition: all 0.5s;
    transition-property: background-color;
    border-radius: 0px;
    background-color: #dfdfdf;
    border-bottom: 4px solid $primary-color;

    div.caption {
      ul {
        padding-left: 0px;
        list-style-type: none;
        li {
          transition: all 0.5s;
          background-color: #FFF; // #dfdfdf
          padding: 0 12px;
          display: inline-block;
          border-radius: 16px;
          height: 32px;
          margin: 5px;
          border-bottom: 2px solid $primary-color;

          span {
            font-size: 13px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
            line-height: 32px;
          }
        }
      }
    }
  }
  div.thumbnail:hover {
    background-color: #cccccc;
    ul {
      li {
        background-color: #e4e4e4 !important;
      }
    }
  }
}
