main.container.project {
  margin-top: 70px;
  background-color: #FFF;
  div.row {
    padding: 15px;
  }

  div.row.index {
    table {
      tbody td, thead th {
        padding: 0 10px;

        a.fa {
          text-decoration: none;
        }
      }
    }
  }
}
