<main class="container technology">
  <div class="row edit">
    <h1>Editing Technology</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @technology, class: "btn btn-raised btn-info" %> |
    <%= link_to 'Back', technologies_path, class: "btn btn-raised btn-danger" %>
  </div>
</main>
