<main class="container technology">
  <div class="row new">
    <h1>New Technology</h1>

    <%= render 'form' %>

    <%= link_to 'Back', technologies_path, class: "btn btn-raised btn-danger" %>
  </div>
</main>
