<!DOCTYPE html>
<html>
  <head>
    <title>Fabien Oger</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="description" content="Développeur web à Paris : HTML5, CSS3, Bootstrap, JavaScript, jQuery, PHP, Ruby, Ruby On Rails. ">
    <meta name="keywords" content="vcard, html5, portfolio, freelance">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Fabien Oger">
  </head>
  <body>
    <header class="navbar">
      <div class="container">
        <!--<div class="logo">
        </div>-->
        <ul class="menu nav align-center">
          <li><a href="/">Accueil</a></li>
          <i class="fa fa-circle"></i>
          <li><a href="/portfolio">Portfolio</a></li>
          <i class="fa fa-circle"></i>
          <li><a href="/contact">Contact</a></li>
          <% if user_signed_in? %>
            <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out"></i>&nbsp; Logout</a></li>
          <% end %>
        </ul>
        <div class="social">
          <!--
          <div class="link-icone">
            <a href="https://twitter.com/FabOger">
              <img src="/assets/twitter.png" />
            </a>
          </div>
          <div class="link-icone">
            <a href="https://github.com/fabienoger">
              <img src="/assets/Github.png" />
            </a>
          </div>
          <div class="link-icone">
            <a href="https://www.linkedin.com/profile/view?id=AAMAABNCp4QB4jxI0GsinGdKAmrsJqjzYWTsmmo&trk=hp-identity-name">
              <img src="/assets/linkedin.png" />
            </a>
          </div>
          -->
          <div class="link-icone">
            <a target="_blank" href="https://github.com/fabienoger">
              <i class="fa fa-github"></i>
            </a>
          </div>
          <div class=" link-icone">
            <a target="_blank" href="https://twitter.com/FabOger">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
          <div class=" link-icone">
            <a target="_blank" href="https://www.linkedin.com/profile/view?id=AAMAABNCp4QB4jxI0GsinGdKAmrsJqjzYWTsmmo&trk=hp-identity-name">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>© Copyright développé by Fabien Oger</p>
    </footer>
  </body>
</html>
