<!DOCTYPE html>
<html>
  <head>
    <title>Fabien Oger</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="description" content="Développeur web à Paris : HTML5, CSS3, Bootstrap, JavaScript, jQuery, PHP, Ruby, Ruby On Rails. ">
    <meta name="keywords" content="vcard, html5, portfolio, freelance">
    <meta name="author" content="Fabien Oger">
  </head>
  <body>
    <header class="navbar navbar-material-indigo-700">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Fabien Oger</span>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="menu nav navbar-nav navbar-right">
            <li><a href="/"><i class="fa fa-home fa-fw"></i>&nbsp; Accueil</a></li>
            <li><a href="/portfolio"><i class="fa fa-book"></i>&nbsp; Portfolio</a></li>
            <li><a href="/contact"><i class="fa fa-envelope"></i>&nbsp; Contact</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main class="container-fluid">
      <%= yield %>
    </main>
    <footer>
      <div class="row">
        <div class="align-center col-xs-4">
          <div class="row link-icone">
            <a target="_blank" href="https://github.com/">
            <i class="fa fa-github"></i>&nbsp;
              <!--<img src="/assets/Github-Flat.ico" width="40px" height="40px" />-->
               GitHub
            </a>
          </div>
          <div class="row link-icone">
            <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i>&nbsp;
              <!--<img src="/assets/Twitter.ico" width="40px" height="40px" />-->
               Twitter
            </a>
          </div>
          <div class="row link-icone">
            <a target="_blank" href="https://www.linkedin.com/profile/view?id=AAMAABNCp4QB4jxI0GsinGdKAmrsJqjzYWTsmmo&trk=hp-identity-name"><i class="fa fa-linkedin"></i>&nbsp;
              <!--<img src="/assets/Linkedin.ico" width="40px" height="40px" />-->
               LinkedIn
            </a>
          </div>
        </div>
        <div class="col-xs-4">

        </div>
        <div class="col-xs-4 index">
          <a class="footer-link" href="/"><i class="fa fa-home fa-fw"></i>&nbsp; Accueil</a>
          <a class="footer-link" href="/portfolio"><i class="fa fa-book"></i>&nbsp; Portfolio</a>
          <a class="footer-link" href="/contact"><i class="fa fa-envelope-o"></i>&nbsp; Contact</a>
        </div>
      </div>
      <p>© 2015 - Fabien Oger</p>
    </footer>
  </body>
</html>
